@font-face {
  font-family: 'adobaonlyR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "adobaonlyR", serif;
}

.container {
  margin: 0 auto;
  max-width : 830px;
}

/*-------------------------------------------------------------
스터디 상세 정보 박스
 -------------------------------------------------------------*/
.studyDetailBox {
  box-sizing: content-box;
  padding: 30px 50px;
  margin: 100px auto 25px auto;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.13);
  position: relative;
  background: #fff;
  border-radius: 10px;
}

/*
스터디 태그 & 스터디 대표 이미지 & 참가 신청 & 탈퇴
 */
.studyDetailBox .studyDetail-left{
  width : 120px;
  margin-right: 15px;
}

#studyTag {
  font-size: 20px;
  font-weight: bold;
}

.studyDetailBox .studyCover {
  width: 100px;
  margin-right: 15px;
  margin-top: 10px;
}

#participationbtn{
  display: block;
  width: 100px;
  color: #519259;
  border-color: #519259;
}

#participationbtn:hover{
  background-color: #519259;
  color : #ffffff;
}

#quitbtn {
  display: block;
  width: 100px;
}

.studyDetailBox .studyDetail{
  width : 100%;
}

/*
스터디 제목 & 수정 버튼 & 스터디 상태 & 인원 수
 */
.studyDetailBox .studyDetail .studyDetail-top{
  width : 100%;
  display: flex;
  align-items: flex-end;
}

#studyTitle {
  font-size : 25px;
  font-weight: bold;
  max-width : 400px;
  word-wrap: break-word;
}

#studyUpdate{
  color : dimgray;
  font-size: 15px;
  margin : 3px 10px;
}

.status {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.status .people {
  margin : auto 10px;
}

#people-icon{
  color : dimgray;
  margin-right: 3px;
}

#recruit{
  background-color: pink;
  color : darkred;
  padding : 5px;
  border-radius: 0.3em;
  font-size: 15px;
  font-weight: bold;
  margin-bottom : 5px;
}

#progress{
  background-color: powderblue;
  color : darkblue;
  padding : 5px;
  border-radius: 0.3em;
  font-size: 15px;
  font-weight: bold;
  margin-bottom : 5px;
}

#complete {
  background-color: darkseagreen;
  color : darkslategray;
  padding : 5px;
  border-radius: 0.3em;
  font-size: 15px;
  font-weight: bold;
  margin-bottom : 5px;
}

/*
스터디 타입별 상세 정보
 */
.studyDetailBox .studyDetail .studyDetail-center{
  line-height: 18px;
}

#typeIcon{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color : dimgray;
}

/*
스터디 권장 진도율
 */
.recommend {
  font-weight: bold;
  margin-top : 5px;
  color : #d54848;
}

/*
스터디 신청자 목록
 */
.studyDetailBox .studyDetail .studyDetail-right{
  margin-left: 15px;
  text-align: center;
}

#waitingList{
  border-left: 1px dashed dimgray;
  height : 100%;
  min-width: 200px;
}

#waitingNickname{
  word-wrap:break-word;
}

#waitingProfile{
  width : 30px;
  height : 30px;
  border-radius: 0.1em;
}

table{
  margin: 15px auto 15px auto;
  text-align: left;
}

td{
  max-width: 130px;
}

#updatebtn{
  width: 40px;
  font-size: 10px;
  padding : 2px;
}

/*-------------------------------------------------------------
게시판 이동 & 달성률 등록
-------------------------------------------------------------*/
.navbar > ul > li > .menu {
  color : #519259;
  font-family: "adobaonlyR", serif;
  display : flex;
  align-items: flex-start;
}

/*-------------------------------------------------------------
팀원 목록 & 위임 신청
-------------------------------------------------------------*/
.acceptedTeamMate {
  padding : 20px;
}

#acceptedProfile {
  width : 45px;
  height : 45px;
  border-radius: 0.3em;
}

#delegatebtn{
  width: 60px;
  color: #519259;
  border-color: #519279;
  font-size : 14px;
  padding : 0px;
  margin-left : 10px;
  display: none;
}

#delegatebtn:hover{
  background-color: #519259;
  color : #ffffff;
}

#completebtn{
  width: 60px;
  color : dimgray;
  border-color: dimgray;
  font-size : 14px;
  padding : 0px;
  margin-left : 10px;
  display: none;
}

/*-------------------------------------------------------------
PROGRESS - RATE
 -------------------------------------------------------------*/
.progress {
  display: inline-block;
  border-radius: 20px;
  background: #f9f9f9;
  width : 80%;
}

.zzandi {
  width : 80%;
  height: 100%;
  border-radius: 20px;
  transition: width;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}

.shadow {
  /* 25 50 */
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
}

.leaf {
  background-color: #b5ccbf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='60' height='30'%3E%3Cpath fill='%2340584a' fill-opacity='0.47' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}