<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="header" id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>ZZANDI</h1>
    </a>
    <form class = "searchBox" th:action="@{/study/list}">
      <input type="text" autocomplete="off" th:name="kw" placeholder="스터디명, 닉네임 검색" class = "keyword" value>
      <button type="submit"><i class="bi bi-search"></i></button>
    </form>
    <nav id="navbar" class="navbar">
      <ul>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
          <a href="/admin">관리자</a>
        </li>
        <li sec:authorize="isAuthenticated()">
          <a href="/study/create">스터디 모집하기</a>
        </li>
        <li sec:authorize="isAuthenticated()" class = "dropdown">
          <a href="#">
            <div>
              <img th:if="${!#strings.isEmpty(#authentication.principal?.userprofileUrl)}" th:src="${#authentication.principal.userprofileUrl}"
                   width="30" height="30" class="rounded border bg-light"/>
            </div>
            <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
          <ul>
            <li sec:authorize="isAuthenticated()">
              <a th:href="@{|/user/mypage?userNickname=${#authentication.principal.userNickname}|}">My Page</a>
            </li>
            <li sec:authorize="isAuthenticated()">
              <a th:href="@{/user/profile}">프로필 수정</a>
            </li>
            <li sec:authorize="isAuthenticated()">
              <a href="/user/logout">로그아웃</a>
            </li>
          </ul>
        </li>

        <li sec:authorize="isAnonymous()">
          <a href="/user/join">회원 가입</a>
        </li>
        <li sec:authorize="isAnonymous()">
          <a href="/user/login">로그인</a>
        </li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->
<!-- End Header -->