<tail th:fragment = "tail">
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/bootstrap/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap/assets/vendor/aos/aos.js"></script>
  <script src="/bootstrap/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/bootstrap/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/bootstrap/assets/js/main.js"></script>
</tail>