<!--메인 페이지-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

</head>

<div class = "container">
    <h1> ZZANDI TEST </h1>
    <div th:if="${user != null && !user.userEmailVerified}">
        <script type="text/javascript">
          alert("ZZANDI 가입을 완료하려면 계정 인증 이메일을 확인하세요.");
        </script>
    </div>
    <a th:href="@{/user/profile}">
    <div sec:authorize="isAuthenticated()">
        <svg th:data-jdenticon-value="${user.userId}"
            width="50" height="50" class="rounded border bg-light"></svg>
        <div th:text="${user.userNickname}"></div>
    </div>
    </a>

    <div>
        <a href="/study/create"> Create Study </a>
    </div>

    <div>
        <a href="/study/list"> Study List </a>
    </div>
    <div>
        <a href="/todo">ToDoList</a>
    </div>
    <div>
        <a href="/board/list">QA 게시판</a>
    </div>

    <div sec:authorize="isAnonymous()">
        <a href="/user/login">로그인</a>
    </div>

    <div sec:authorize="isAnonymous()">
        <a href="/user/join">회원 가입</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a href="/user/logout">로그아웃</a>
    </div>

    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a href="/admin">관리자</a>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M" crossorigin="anonymous">
</script>
</html>