<!--메인 페이지-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<head th:replace="layout/head.html :: head"></head>

<body>

    <!-- header -->
    <section th:replace="layout/header.html :: header"></section>

    <div class="container">
        <h1> ZZANDI TEST </h1>
        <div th:if="${user != null && !user.userEmailVerified}">
            <script type="text/javascript">
              alert("ZZANDI 가입을 완료하려면 계정 인증 이메일을 확인하세요.");
            </script>
        </div>
        <a th:href="@{/user/profile}">
            <div sec:authorize="isAuthenticated()">
                <svg th:if="${#strings.isEmpty(user?.userprofileUrl)}" th:data-jdenticon-value="${user.userId}"
                     width="70" height="70" class="rounded border bg-light"></svg>
                <img th:if="${!#strings.isEmpty(user?.userprofileUrl)}" th:src="${user.userprofileUrl}"
                     width="70" height="70" class="rounded border"/>
                <div th:text="${user.userNickname}"></div>
        </div>
        </a>

        <div>
            <a href="/study/create"> Create Study </a>
        </div>

        <div>
            <a href="/study/list"> Study List </a>
        </div>
        <div>
            <a href="/todo">ToDoList</a>
        </div>
        <div>
            <a href="/board/list">QA 게시판</a>
        </div>

        <div sec:authorize="isAnonymous()">
            <a href="/user/login">로그인</a>
        </div>

        <div sec:authorize="isAnonymous()">
            <a href="/user/join">회원 가입</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a href="/user/logout">로그아웃</a>
        </div>

        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a href="/admin">관리자</a>
        </div>

    </div>

    <!-- footer -->
    <footer th:replace="layout/footer.html :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
            integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M" crossorigin="anonymous">
    </script>
</body>
</html>