<!--회원가입 페이지-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<script>
    function check_id(){
        var idPatten=/^[a-zA-Z0-9]{5,20}$/;
        var id=document.getElementById("id");
        if(!idPatten.test(id.value)){
            document.getElementById('check_id').innerHTML='회원 아이디(ID)는 띄어쓰기 없이 5~20자리의 영문자와 숫자 조합만 가능합니다.'
            document.getElementById('check_id').style.color='red';
            id.focus();
        }else{
            document.getElementById('check_id').innerHTML='멋진 아이디군요'
            document.getElementById('check_id').style.color='green';
        }
    }
    function check_pw(){
        var pwd = document.getElementById("pw");
        var repwd = document.getElementById("pw2");

        var pwdCheck =/^(?=.*[A-Za-z])(?=.*\d)(?=.*[~!;@#$%^&*()+|=])[A-Za-z\d~!;@#$%^&*()+|=]{8,16}$/;

        if (!pwdCheck.test(pwd.value)) {
            document.getElementById('check_pw').innerHTML='띄어쓰기 없이 영문, 숫자, 특수문자 ~!;@#$%^&*()+|= 를 각각 포함하여 8~16자 사이로 입력해주세요'
            document.getElementById('check_pw').style.color='red';
            pwd.focus();
            return false;
        }else {
            document.getElementById('check_pw').innerHTML='멋진 비밀번호군요'
            document.getElementById('check_pw').style.color='green';
        }
        if(pwd.value !=='' && repwd.value !==''){
            if(pwd.value === repwd.value){
                document.getElementById('check_repwd').innerHTML='짝짝짝 비밀번호가 일치합니다.'
                document.getElementById('check_repwd').style.color='green';
            }
            else{
                document.getElementById('check_repwd').innerHTML='비밀번호가 일치하지 않습니다.';
                document.getElementById('check_repwd').style.color='red';
                return false;
            }
        }
        return true;
    }
    function joinform_check() {
        if(!check_pw()){
            alert("다시 한번 확인해주세요!!")
            return false;
        }
        var pwd = document.getElementById("pw");
        var repwd = document.getElementById("pw2");
        if (pwd.value === "") {
            alert("비밀번호를 입력하세요.");
            pwd.focus();
            return false;
        }

        if (repwd.value !== pwd.value) {
            alert("비밀번호가 일치하지 않습니다.");
            repwd.focus();
            return false;
        }
        document.join_form.submit();
    }
</script>
<body>
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="join-title"><h1>회원가입</h1></div>
                    <form name="join_form" action="#" th:action="@{/user/join}" th:object="${registerRequest}" method="post">
                        <div class="form-group">
                            <label for="userId">아이디</label>
                            <input type="text" th:field="*{userId}" class="form-control" id="id"
                                   placeholder="회원 아이디(ID)는 띄어쓰기 없이 5~20자리의 영문자와 숫자 조합만 가능합니다." onchange="check_id()" aria-describedby="idHelp" required />&nbsp;<span id="check_id"></span>
                            <smail th:if="${#fields.hasErrors('userId')} " th:errors="*{userId}" class="fieldError" >userId Error</smail>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">비밀번호</label>
                            <input type="password" th:field="*{userPassword}" class="form-control"
                                   placeholder="8~16자의 영문 소문자, 숫자와 특수기호 ~!;@#$%^&*()+|= 만 사용가능합니다." aria-describedby="passwordHelp"  id="pw" onchange="check_pw()" required />&nbsp;<span id="check_pw"></span>
                            <smail th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">userPassword Error</smail>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">비밀번호 확인</label>
                            <input type="password"  class="form-control"
                                   placeholder="비밀번호를 한번더 입력해주세요." aria-describedby="passwordHelp"  id="pw2" onchange="check_pw()" required />&nbsp;<span id="check_repwd"></span>
                        </div>
                        <div class="form-group">
                            <label for="userEmail">이메일</label>
                            <input type="text" th:field="*{userEmail}"  class="form-control"
                                   placeholder="이메일을 입력해주세요." aria-describedby="emailHelp" required />
                            <smail th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">userEmail Error</smail>
                        </div>
                        <div class="form-group">
                            <label for="userNickname">닉네임</label>
                            <input type="text" th:field="*{userNickname}" class="form-control"
                                   placeholder="사용할 닉네임을 입력해주세요.(추후 변경이 가능합니다.)" aria-describedby="nicknameHelp" required />
                            <smail th:if="${#fields.hasErrors('userNickname')}" th:errors="*{userNickname}">userNickname Error</smail>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="joinform_check();">가입하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>