<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

    <form method="post">
        <div class="form-group">
            <div>
                <label for="studyTitle"> </label>
                <input type="text" id="studyTitle" name="studyTitle" placeholder="스터디명을 입력하세요">
            </div>
            <div>
                <label for="studyStart"> </label>
                <input type="date" id="studyStart" name="studyStart">
            </div>
            <div>
                <label for="studyEnd"> </label>
                <input type="date" id="studyEnd" name="studyEnd">
            </div>
            <div>
                <label for="studyPeople"> </label>
                <input type="number" id="studyPeople" name="studyPeople" placeholder="스터디 정원 수를 입력하세요">
            </div>

        </div>
        <button type="submit">등록</button>

    </form>

</div>

</body>
</html>