<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<div th:replace="layout/head.html :: head"></div>
<body>
<section th:replace="layout/header.html :: header"></section>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Study Cover Upload</h2>
                        <p>원하시는 스터디 대표이미지를 만들어보세요!</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <div id="studyForm">
        <h4>Study Cover Image</h4>
        <p>저장버튼을 눌러주세요.</p>
                <div class="col-md-6 form-group">
                    <input type="file" id="studyCoverUrl" name="studyCoverUrl" accept=".gif, .jpg, .png, .jpeg, .PNG">
                    <input type="hidden" id="study-id" th:value="${studyId}">
                </div>
        <input type="button" name="uploadButton" value="저장">
    </div>


</main><!-- End #main -->
<!-- footer -->
<div th:replace="layout/footer.html :: footer"></div>

<!-- tail -->
<div th:replace="layout/tail.html :: tail"></div>
</body>
</html>
