
<!DOCTYPE html>
<html lang="en">

<!-- head -->
<div th:replace="layout/head.html :: head"></div>

<body>

<!-- header -->
<section th:replace="layout/header.html :: header"></section>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Study List</h2>
                        <p>진행 중인 스터디를 찾아 마음껏 참여해보세요!</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <div class="container">
        <form>
            <select th:name="st">
                <option th:value="BOOK" value="BOOK" th:selected="${#strings.equals(param.st, 'BOOK')}">BOOK</option>
                <option th:value="LECTURE" th:selected="${#strings.equals(param.st, 'LECTURE')}">LECTURE</option>
                <option th:value="ALL" th:selected="${param.st} == null or ${#strings.equals(param.st, 'ALL')}">ALL</option>
            </select>
            <select name="ss">
                <option th:value="RECRUIT" th:selected="${#strings.equals(param.ss, 'RECRUIT')}">모집 중</option>
                <option th:value="PROGRESS" th:selected="${#strings.equals(param.ss, 'PROGRESS')}">모집 완료</option>
                <option th:value="ALL" th:selected="${param.ss} == null or ${#strings.equals(param.ss, 'ALL')}">ALL</option>
            </select>
            <input type="text" name="kw" th:value="${param.kw}" placeholder="검색어">
            <button type="submit">검색</button>
        </form>
    </div>
    <section>
        <div id="studyList" class="container">
            <div id="post" th:each="study : ${studyList}">
                <div>
                    <article>
                        <div class="post-img" id="studyBox">
                            <img id="studyCover" th:src="${study.studyCoverUrl}">
                            <div>
                                <p id="studyType" class="post-category" th:text="${study.studyType}"></p>

                                <p class="title">
                                    <a  th:href="@{/study/detail/{studyId}(studyId = ${study.getId})}"
                                        th:text="${study.studyTitle}"></a>
                                </p>
                                <p id="studyStart" th:text="${study.studyStart}"></p>
                                <p id="studyEnd_List" th:text="'~' + ${study.studyEnd}"></p>
                            </div>

                        </div>
                    </article>
                </div><!-- End post list item -->

            </div><!-- End blog posts list -->

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
<!-- footer -->
<div th:replace="layout/footer.html :: footer"></div>

<!-- tail -->
<div th:replace="layout/tail.html :: tail"></div>

</body>

</html>