@font-face {
  font-family: 'adobaonlyR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "adobaonlyR", serif;
}

.main {
  margin : 0 auto;
  max-width: 1100px;
  min-height: 700px;
}

.subHeading{
  font-size : 21px;
  color : darkslategray;
  font-weight: bold;
  margin-left: 70px;
  margin-right : 10px;
  margin-bottom : 0px;
}

.link {
  font-size: 13px;
  color: forestgreen;
}

/*sidebar*/
#quick {position: fixed; top: 40%; left: 1.5%; z-index: 10; margin: 0px 0px 0 0;}
#quick a {display: block; margin: 0px 0 0;}
#quick a:first-child {margin: 10px;}

.selected{text-decoration:line-through;}

#toDoListContent{
  margin-top: 20px;
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
  margin-top: 80px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 10px;
  margin: 10px 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .testimonial-img {
  width: 150px;
  height: 200px;
  margin: 0 auto;
}

.testimonials .swiper-pagination {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid lightgrey ;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  background-color: green;
}

.testimonials .swiper-slide {
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }

  .testimonials .swiper-pagination {
    margin-top: 0;
  }

  .testimonials .testimonial-item {
    margin: 40px 20px;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

#studyList{
  display: flex;
  flex-wrap: wrap;
}
#post{
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  /*background-color: #c5e1a5;*/
  box-shadow: 5px 5px 5px 5px gray;
  width: 350px;

}
#post1{
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  /*background-color: #c5e1a5;*/
  box-shadow: 5px 5px 5px 5px gray;
  width: 350px;

}
#studyCover{
  width: 100px;
  height: 100px;
  margin-right: 15%;
}
#studyBox{
  display: flex;
  margin: 10px;
}
#studyEnd_List{
  line-height: 0;
}
#studyBox1{
  display: flex;
  margin: 10px;
}
#studyEnd_List1{
  line-height: 0;
}
#studyCover1{
  width: 100px;
  height: 100px;
  margin-right: 15%;
}
#studyForm{
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  justify-content: center;
  width: 500px;
  box-shadow: 5px 5px 5px 5px gray;
}
#main{
  margin: 100px;
}
.col-md-6.form-group{
  margin: 10px;
  width: 250px;
}
#latest-post{
  margin: 20px;
  position: relative;
  border-bottom: 2px solid lightgrey ;
  display: flex;
  flex-wrap: wrap;
}
#all-post{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.floating {
  position: fixed;
  right: 50%;
  top: 180px;
  margin-right: -720px;
  text-align:center;
  width: 120px;
}