<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="layout/head.html :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css" integrity="sha512-vmXqikRa5kmI3gOQygzml5nV+5NGxG8rt8KWHKj8JYYK12JUl2L8RBfWinFGTzvpwwsIRcINy9mhLyodnmzjig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<section th:replace="layout/header.html :: header"></section>
<link rel="stylesheet" th:href="@{/css/user/profile.css}">
<link rel="stylesheet" th:href="@{/css/user/myPage.css}">
<style>
    .profile-user-img-img{
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
    }
    .profile-user-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<body>
<input type="hidden" id = "zzandi" th:value="${user.userZzandi}">

<div class = "main">
    <div class = "profile-box">
        <div class = "zzandi">
            <img id = "zzandiImg" src = "https://cdn-icons-png.flaticon.com/512/932/932669.png" width="30px" style = "margin-right : 5px;">
            <span th:text = "|${user.userZzandi}cm|"></span>
        </div>
        <img class = "profileImg" th:src = "${user.userprofileUrl}">
        <p id ="userNickname" th:text = "${user.userNickname}"></p>
        <div id = "interest">
            <p class = "m-0" th:each="interest : ${interestList}" th:text = "|# ${interest.interest}|"></p>
        </div>
        <div th:if = "${user.userNickname == #authentication.principal.userNickname}">
            <nav id = "menu" class="navbar mt-5">
                <ul class = "d-block">
                    <li class = "p-0 mt-3">
                        <a th:href="@{|/user/profile?userNickname=${user.userNickname}|}"><i class="bi bi-gear-fill me-1"></i>내 프로필</a>
                    </li>
                    <li class = "p-0 mt-3">
                        <a th:href="@{|/user/mypage?userNickname=${user.userNickname}|}"><i class="bi bi-pencil-fill me-1"></i>회원 정보 수정</a>
                    </li>
                    <li class = "p-0 mt-3">
                        <a th:href="@{/user/mystudy}"><i class="bi bi-bell-fill me-1"></i>스터디 신청 관리</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class = "myPageBox">
        <div style = "text-align: center">
            <p id = "head">회원 정보 수정</p>
            <a th:href="@{/user/profileImage}" class="justify-content-center">
                <img class = "profileImg border-1 border-success" th:src="${user.userprofileUrl}"/>
            </a>
            <form th:action="@{/user/join}" th:object = "${user}" method = "post">
                <table class = "myPageTable">
                    <tr>
                        <td class = "w-25">
                            <label for="userId">아이디</label>
                        </td>
                        <td>
                            <div class="input-group mb-2">
                                <input type="text" th:value="user.userId" th:field="*{userId}" class="form-control" id="id"
                                       placeholder="띄어쓰기 없이 5~20자리의 영문자 & 숫자 조합"  aria-describedby="idHelp" required />
                                <button class="btn btn-outline-secondary" type="button" onclick=id_button() id="button-addon1">변경</button>
                            </div>
                            <small id="error"></small>
                        </td>
                    </tr>
                    <tr>
                        <td class = "w-25">
                            <label for="userPassword">비밀번호</label>
                        </td>
                        <td>
                            <div class="input-group mb-2">
                                <input type="password" th:value="user.userPassword" th:field="*{userPassword}" class="form-control"
                                       placeholder="8~16자의 영문 소문자, 숫자와 특수기호 ~!;@#$%^&*()+|=" aria-describedby="passwordHelp" id="pw" required />
                                <button class="btn btn-outline-secondary" type="button" onclick="pw_button()" id="button-addon2">변경</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="userEmail">이메일</label>
                        </td>
                        <td>
                            <input type="email" th:value="user.userEmail" th:field="*{userEmail}"  class="form-control"
                                   placeholder="이메일을 입력해주세요." aria-describedby="emailHelp" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td class = "w-25">
                            <label for="userNickname">닉네임</label>
                        </td>
                        <td>
                            <div class="input-group mb-2">
                                <input type="text" th:value="user.userNickname" th:field="*{userNickname}" class="form-control"
                                       placeholder="변경할 닉네임을 입력해주세요." id="nickname" aria-describedby="nicknameHelp" required />
                                <button class="btn btn-outline-secondary" type="button" onclick="nickname_button()" id="button-addon3">변경</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-success" id="userDelete" onclick="delete_button()">회원 탈퇴</button>
            </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
<script>
    let zzandi = document.getElementById("zzandi").value;
    console.log(zzandi);
    if (zzandi == 0) {
        document.getElementById("zzandiImg").src = "https://cdn-icons-png.flaticon.com/512/932/932669.png";
    }else if (zzandi < 20) {
        document.getElementById("zzandiImg").src = "/images/ms-icon-144x144.png";
    }else if (zzandi < 40){
        document.getElementById("zzandiImg").src = "https://cdn-icons-png.flaticon.com/512/4139/4139066.png";
    }else if (zzandi < 60){
        document.getElementById("zzandiImg").src = "https://cdn-icons-png.flaticon.com/512/3095/3095133.png";
    }else if (zzandi < 80){
        document.getElementById("zzandiImg").src = "https://cdn-icons-png.flaticon.com/512/7101/7101456.png";
    }else {
        document.getElementById("zzandiImg").src = "https://cdn-icons-png.flaticon.com/512/2582/2582652.png";
    }
    function id_button(s) {
        var existsByUserId="false";
        console.log(existsByUserId);
        var idPatten=/^[a-zA-Z0-9]{5,20}$/;
        var valueById=document.getElementById('id').value;
        if(!idPatten.test(valueById)){
            alert("회원 아이디(ID)는 띄어쓰기 없이 5~20자리의 영문자와 숫자 조합만 가능합니다.")
            return;
        }
        console.log(valueById);
        $.ajax('/user/check/id',{
            data: { userid : valueById }, // 요청 시 포함되어질 데이터
            dataType: 'json', // 응답 데이터 형식 (명시하지 않을 경우 자동으로 추측)
            async: false, //ajax가 끝나고 나서 if 문이 실행이 되어야 하므로 async false로 해주기
            success: function(data) {
                existsByUserId=data;
            },
            error: function(){
                console.log("실패");
            }
        })
        console.log(existsByUserId);
        if (Boolean(existsByUserId)) {
            id.classList.add('invalid');
            error.innerHTML = '존재하는 아이디 입니다.'
            document.getElementById('error').style.color='red';
            return
        }else{
            id.classList.add('invalid');
            error.innerHTML = '사용가능한 아이디 입니다.'
            document.getElementById('error').style.color='green';
        }

        if(!confirm('회원 아이디를 변경하시겠습니까?')){
           return false;
        } else if(!Boolean(existsByUserId)){
            var valueById=document.getElementById('id').value;

            $.ajax('/user/modify/id',{
                data: { userid : valueById }, // 요청 시 포함되어질 데이터
                dataType: 'text',
                async: false,
                success: function(data) {
                    console.log("아이디 변경 성공!!!!!!")
                    document.getElementById("id").value=data;
                    alert("아이디 변경이 완료되었습니다.");
                },
                error: function(data){
                    console.log(data);
                    console.log("실패");
                }
            })
        }
    }
    var existsByUserPassWord="false";
    pw.onblur = function() {
        var pwdCheck = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[~!;@#$%^&*()+|=])[A-Za-z\d~!;@#$%^&*()+|=]{8,16}$/;
        var valueByPw = document.getElementById('pw').value;
        if (!pwdCheck.test(valueByPw)) {
            alert("띄어쓰기 없이 영문, 숫자, 특수문자 ~!;@#$%^&*()+|= 를 각각 포함하여 8~16자 사이로 입력해주세요")
            return;
        }
    }
    pw.onfocus = function() {
        if (this.classList.contains('invalid')) {
            this.classList.remove('invalid');
            error.innerHTML = "";
        }
    };
        function pw_button(s) {
        if(!confirm('회원 비밀번호를 변경하시겠습니까?')){
            return false;
        } else {
            var valueByPw=document.getElementById('pw').value;

            $.ajax('/user/modify/pw',{
                data: { userpw : valueByPw }, // 요청 시 포함되어질 데이터
                dataType: 'text',
                async: false,
                success: function(data) {
                    console.log("비밀번호 변경 성공!!!!!!")
                    document.getElementById("id").value=data;
                    alert("비밀번호 변경이 완료되었습니다.");
                },
                error: function(data){
                    console.log(data);
                    console.log("실패");
                }
            })
        }
    }

    function nickname_button(s) {
        if(!confirm('회원 닉네임을 변경하시겠습니까?')){
            return false;
        } else {
            var valueByNickname=document.getElementById('nickname').value;
            $.ajax('/user/modify/nickname',{
                data: { usernickname : valueByNickname }, // 요청 시 포함되어질 데이터
                dataType: 'text',
                async: false,
                success: function(data) {
                    console.log("닉네임 변경 성공!!!!!!")
                    document.getElementById("id").value=data;
                    alert("닉네임 변경이 완료되었습니다.");
                },
                error: function(data){
                    console.log(data);
                    console.log("실패");
                }
            })
        }
    }

    function delete_button(s) {
        if(!confirm('회원 탈퇴를 하십니까?')){
            return false;
        } else {
            $.ajax({
                url: "http://localhost:8080/user/delete",
                type: 'GET',
                success: function (res) {
                    console.log(res);
                    if(res==="error"){
                        alert("스터디장을 반드시 위임해야합니다.");
                    }else {
                        alert(res);
                        location.replace("http://localhost:8080/user/logout");
                    }
                }
            });
        }
    }



</script>
<!-- footer -->
<div th:replace="layout/footer.html :: footer"></div>

<!-- tail -->
<div th:replace="layout/tail.html :: tail"></div>
</html>