<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="layout/head.html :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css" integrity="sha512-vmXqikRa5kmI3gOQygzml5nV+5NGxG8rt8KWHKj8JYYK12JUl2L8RBfWinFGTzvpwwsIRcINy9mhLyodnmzjig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<section th:replace="layout/header.html :: header"></section>
<body>
<style>
    .profile-user-img-img{
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
    }
    .profile-user-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 pt-5">
            <h1><a th:href="@{/}" class="logo">ZZANDI</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a th:href="@{|/user/mypage?userNickname=${currentUser.userNickname}|}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">회원정보수정</a>
                </li>
                <li>
                    <a th:href="@{/user/mystudy}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">스터디관리</a>
                </li>
                <li>
                    <a href="#">기타 등등</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

    <!-- Page Content  -->
        <div class="container-fluid" >
            <div class="row justify-content-center align-items-center" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="join-title"><h1>회원 정보 수정</h1></div>
                            <a th:href="@{/user/profileImage}" class="justify-content-center">
                                <div id="profile-user-img" class="center-block">
                                    <img class="profile-user-img-img" th:if="${!#strings.isEmpty(currentUser?.userprofileUrl)}" th:src="${currentUser.userprofileUrl}"/>
                                </div>
                            </a>
                            <form name="join_form" action="#" th:action="@{/user/join}" th:object="${currentUser}" method="post">
                                <label for="userId">아이디</label>
                                <div class="input-group mb-2">
                                    <input type="text" th:value="currentUser.userId" th:field="*{userId}" class="form-control" id="id"
                                           placeholder="회원 아이디(ID)는 띄어쓰기 없이 5~20자리의 영문자와 숫자 조합만 가능합니다."  aria-describedby="idHelp" required />
                                    <button class="btn btn-outline-secondary" type="button" onclick=id_button() id="button-addon1">변경</button>
                                </div>
                                <small id="error"></small>
                                <br>
                                <label for="userPassword">비밀번호</label>
                                <div class="input-group mb-2">
                                    <input type="password" th:value="currentUser.userPassword" th:field="*{userPassword}" class="form-control"
                                           placeholder="8~16자의 영문 소문자, 숫자와 특수기호 ~!;@#$%^&*()+|= 만 사용가능합니다." aria-describedby="passwordHelp"  id="pw"  required />
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">변경</button>
                                </div>
                                <div class="form-group">
                                    <label for="userEmail">이메일</label>
                                    <input type="email" th:value="currentUser.userEmail" th:field="*{userEmail}"  class="form-control"
                                           placeholder="이메일을 입력해주세요." aria-describedby="emailHelp" disabled />
                                    <!--                                <smail th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">userEmail Error</smail>-->
                                </div>
                                <label for="userNickname">닉네임</label>
                                <div class="input-group mb-2">
                                    <input type="text" th:value="currentUser.userNickname" th:field="*{userNickname}" class="form-control"
                                           placeholder="변경할 닉네임을 입력해주세요." aria-describedby="nicknameHelp" required />
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon3">변경</button>
                                </div>
                                <div>
                                    <div>관심사</div>
                                    <div th:each="intrest : ${interests}" class="form-check form-check-inline">
                                        <input type="checkbox" th:field="*{interests}" th:value="${intrest.key}"
                                               class="form-check-input">
                                        <label th:for="${#ids.prev('interests')}"
                                               th:text="${intrest.value}" class="form-check-label">서울</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
<script>
    var existsByUserId="false";
    id.onblur = function() {
        var valueById=document.getElementById('id').value;
        console.log(valueById);
        $.ajax('/user/check/id',{
            data: { userid : valueById }, // 요청 시 포함되어질 데이터
            dataType: 'json', // 응답 데이터 형식 (명시하지 않을 경우 자동으로 추측)
            async: false, //ajax가 끝나고 나서 if 문이 실행이 되어야 하므로 async false로 해주기
            success: function(data) {
                existsByUserId=data;
            },
            error: function(){
               console.log("실패");
            }
        })
        console.log(existsByUserId);
        if (Boolean(existsByUserId)) {
            id.classList.add('invalid');
            error.innerHTML = '존재하는 아이디 입니다.'
            document.getElementById('error').style.color='red';
        }else{
            id.classList.add('invalid');
            error.innerHTML = '사용가능한 아이디 입니다.'
            document.getElementById('error').style.color='green';
        }
    };
    id.onfocus = function() {
        if (this.classList.contains('invalid')) {
            this.classList.remove('invalid');
            error.innerHTML = "";
        }
    };
    function id_button(s) {
        console.log(existsByUserId);
        if(!Boolean(existsByUserId)){
            var valueById=document.getElementById('id').value;
            $.ajax('/user/modify/id',{
                data: { userid : valueById }, // 요청 시 포함되어질 데이터
                dataType: 'json',
                async: false,
                success: function(data) {
                    console.log("아이디 변경 성공!!!!!!")
                    document.getElementById("id").value=data;
                    alert("아이디 변경 완료");
                },
                error: function(data){
                    console.log(data);
                    console.log("실패");
                }
            })
        }

    }



</script>
<!-- footer -->
<div th:replace="layout/footer.html :: footer"></div>

<!-- tail -->
<div th:replace="layout/tail.html :: tail"></div>
</html>