<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="layout/head.html :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css" integrity="sha512-vmXqikRa5kmI3gOQygzml5nV+5NGxG8rt8KWHKj8JYYK12JUl2L8RBfWinFGTzvpwwsIRcINy9mhLyodnmzjig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<section th:replace="layout/header.html :: header"></section>
<link rel="stylesheet" th:href="@{/css/user/profile.css}">
<link rel="stylesheet" th:href="@{/css/user/myStudy.css}">
<script defer type="text/javascript" th:src="@{/js/user/myStudy.js}"></script>

<body>
<input type="hidden" id = "zzandi" th:value="${user.userZzandi}">

<div class = "main">
    <div class = "profile-box">
        <div class = "zzandi">
            <img id = "zzandiImg" src = "https://cdn-icons-png.flaticon.com/512/932/932669.png" width="30px" style = "margin-right : 5px;">
            <span th:text = "|${user.userZzandi}cm|"></span>
        </div>
        <img class = "profileImg" th:src = "${user.userprofileUrl}">
        <p id ="userNickname" th:text = "${user.userNickname}"></p>
        <div id = "interest">
            <p class = "m-0" th:each="interest : ${interestList}" th:text = "|# ${interest.interest}|"></p>
        </div>
        <div th:if = "${user.userNickname == #authentication.principal.userNickname}">
            <nav id = "menu" class="navbar mt-5">
                <ul class = "d-block">
                    <li class = "p-0">
                        <a th:href="@{|/user/mypage?userNickname=${user.userNickname}|}"><i class="bi bi-pencil-fill me-1"></i>회원 정보 수정</a>
                    </li>
                    <li class = "p-0 mt-3">
                        <a th:href="@{/user/mystudy}"><i class="bi bi-bell-fill me-1"></i>스터디 신청 관리</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class = "studyBox">
        <p class = "subHeading">대기 중인 스터디 목록</p>
        <div class = "card my-3" style = "margin-left : 75px; width : 85%">
            <div class = "card-body">
                <table class = "myStudyTable">
                    <tbody class = "waitingList"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--            <div class="border-bottom my-3 py-2 w-50">팀장 권한 위임 신청 목록</div>-->
<!--            <div class = "card my-3 w-50" th:each="teamMate : ${teamMateList}" th:if = "${teamMate.teamMateDelegate != null} and ${teamMate.teamMateDelegate.name() == 'WAITING'}">-->
<!--                <div class = "card-body">-->
<!--                    <a th:href = "@{|/study/detail/${teamMate.study.id}|}">-->
<!--                        <span th:text = "${teamMate.study.studyTitle}"></span>-->
<!--                        <span th:text = "${teamMate.study.user.userNickname}"></span>-->
<!--                    </a>-->
<!--                    <form th:action="@{|/${teamMate.study.id}/teamMate/delegate|}" method="post" style="display: inline;">-->
<!--                        <button type="submit" onclick = "if (!confirm('팀장 권한 위임을 수락하시겠습니까?')) return false; else alert('해당 스터디의 팀장이 되신 것을 축하드립니다.')"-->
<!--                                class = "btn btn-outline-secondary">수락</button>-->
<!--                    </form>-->
<!--                    <form th:action="@{|/${teamMate.study.id}/teamMate/delegate/refuse|}" method="post" style="display: inline;">-->
<!--                        <button type="submit" onclick = "if (!confirm('팀장 권한 위임을 거절하시겠습니까?')) return false;" class = "btn btn-outline-secondary">거절</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

</body>
<!-- footer -->
<div th:replace="layout/footer.html :: footer"></div>

<!-- tail -->
<div th:replace="layout/tail.html :: tail"></div>
</html>