<!--회원가입 페이지-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="layout/head.html :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css" integrity="sha512-vmXqikRa5kmI3gOQygzml5nV+5NGxG8rt8KWHKj8JYYK12JUl2L8RBfWinFGTzvpwwsIRcINy9mhLyodnmzjig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<section th:replace="layout/header.html :: header"></section>
<div class="container" >
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    프로필 이미지
                </div>
                <div id="current-profile-image" class="mt-3">
                    <div sec:authorize="isAuthenticated()">
                        <img th:if="${!#strings.isEmpty(user?.userprofileUrl)}" th:src="${user.userprofileUrl}"
                             width="150" height="150" class="rounded border"/>
                    </div>
                    <div th:text="${user.userNickname}"></div>
                </div>
                <div id="new-profile-image" class="mt-3"></div>
                <div class="card-body">
                    <div class="custom-file">
                        <input type="file" class="form-control"id="profile-image-file" name="imageFile" accept=".gif, .jpg, .png, .jpeg, .PNG">
                    </div>
                    <div id="new-profile-image-control" class="mt-3">
                        <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                        <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                        <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                    </div>
                    <div id="cropped-new-profile-image" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.js" integrity="sha512-7H4tikIFoyAdYD31w/uNYvvAUL6gyunWXLwTQ7ZXkyjD+brw+PfJpLxFkANnbkKnSJzU89YpnF3fJKbpvV+QYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
<footer th:replace="layout/footer.html :: footer"></footer>
</body>
<script>
    $(function() {
        cropper = '';
        let $confirmBtn = $("#confirm-button");  // 확인 버튼
        let $resetBtn = $("#reset-button");  // 취소 버튼
        let $cutBtn = $("#cut-button");  // 자르기 버튼
        let $newProfileImage = $("#new-profile-image"); // 새로 선택한 이미지
        let $currentProfileImage = $("#current-profile-image"); // 현재 프로필 이미지
        let $resultImage = $("#cropped-new-profile-image");  // 선택한 이미지 자른 부분
        let $profileImage = $("#profileImage"); // 최종 프로필 이미지

        // 버튼 숨기기
        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();

        // 이미지 파일 선택하면 해당 파일 읽어오고 저장하는 로직
        // profile-image-file (프로필 이미지 변경 선택)
        $("#profile-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("이미지 파일을 선택하세요.");
                            return;
                        }
                        const fileInput = document.getElementById("profile-image-file");
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');
                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();
                        if(fileInput.files[0].type ==="image/gif"){
                            var fileName = $('#profile-image-file').val();
                            $confirmBtn.show();
                            $resetBtn.show();
                            $confirmBtn.click(function () {
                                const formData = new FormData();
                                formData.append("croppedImage", fileInput.files[0],fileName);
                                    $.ajax('/user/profile', {
                                        method: 'POST',
                                        data: formData,//앞에서 생성한 formData
                                        processData : false,	// data 파라미터 강제 string 변환 방지
                                        contentType : false,	// application/x-www-form-urlencoded; 방지
                                        success() {
                                            console.log('Upload success');
                                            location.replace("/");
                                        },
                                        error() {
                                            console.log('Upload error');
                                        },
                                    });
                                });
                                $newProfileImage.html(newImage);
                                $cutBtn.hide();
                                $confirmBtn.hide();
                                $profileImage.val(dataUrl);
                        }else {
                            let $newImage = $(img);
                            $newImage.cropper({aspectRatio: 1});
                            cropper = $newImage.data('cropper');

                            $cutBtn.show();
                            $confirmBtn.hide();
                            $resetBtn.show();
                        }
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        // 취소 버튼 로직
        $resetBtn.click(function() {
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $profileImage.val(''); // 프로필 이미지 비어있게 저장
        });

        // 자르기 버튼 로직
        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();

            if (dataUrl.length > 1000 * 1024) {
                alert("이미지 파일이 너무 큽니다. 1024000 보다 작은 파일을 사용하세요. 현재 이미지 사이즈 " + dataUrl.length);
                return;
            }

            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();
            function dataURLtoFile (dataurl, fileName){
                var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);
                while(n--){
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new File([u8arr], fileName, {type:mime});
            }

            $confirmBtn.click(function () {
                cropper.getCroppedCanvas().toBlob((blob) => {
                    var fileName = $('#profile-image-file').val();
                    const formData = new FormData();
                    var file = new File([blob], "filename");
                    formData.append('croppedImage', file,fileName);
                    $.ajax('/user/profile', {
                        method: 'POST',
                        data: formData,//앞에서 생성한 formData
                        processData : false,	// data 파라미터 강제 string 변환 방지
                        contentType : false,	// application/x-www-form-urlencoded; 방지
                        success() {
                            console.log('Upload success');
                            location.replace("/");
                        },
                        error() {
                            console.log('Upload error');
                        },
                    });
                });
                $newProfileImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val(dataUrl);
            });
        });
    });
</script>
</html>