@import url("root-style.css");

.writer-header * {
    font-size: var(--medium-font-size);
}

.button-box{
    display: flex;
    justify-content: end;
}

.button-box button {
    font-size: 16px;
}

.title-box {
    margin-left: 10px;
}