@import url("root-style.css");
@import url("footer.css");

.writer-header * {
    font-size: var(--medium-font-size);
}

.button-box{
    display: flex;
    justify-content: end;
}

.button-box button {
    font-size: var(--small-font-size);
}

.title-box {
    margin-left: 10px;
}

#editor img {
    width: 300px;
    height: 200px;
}

.btn-upload, .btn-delete  {
    cursor: pointer;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    padding: 5px;
    background-color: #f7f7f7;
}

.file-box img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.selected {
    border: 5px solid darkseagreen;
}