:root {
    --main-bg-color: #ffffff;
    --page-num-bg-color: #c5e1a5;

    --white-color: #fff;
    --light-gray-color: #cfd8dc;
    --gray-color: #888888;
    --medium-gray-color: #AAAAAA;
    --study-title-color: #2e7d32;
    --comment-count-color: #0d47a1;
    --comment-url-color: #333333;
    --comment-reply-color: #ccc;

    --main-font: "Apple SD Gothic Neo";
    --sub-font: "맑은 고딕", arial, sans-serif;
    --study-title-font: "Montserrat";

    --tiny-font-size: 11px;
    --small-font-size: 13px;
    --medium-font-size: 16px;
    --semi-medium-font-size: 18px;
    --large-font-size: 21px;
}

* {
    font-family: var(--main-font), var(--sub-font);
    font-size: var(--small-font-size);
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
}

.header.sticked {
    height: 90px;
}

.footer {
    height: 300px;
}

td {
    vertical-align: middle;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--light-gray-color);
}