<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/585d621f74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>
    <script defer type="text/javascript" th:src="@{/js/board/boardDetail.js}"></script>
    <title>ZZANDI</title>
    <style>
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        body {
            background-color: #ffffff;
            font-family: "GmarketSansMedium", serif;
        }

        li {
            list-style: none;
        }

        .hide {
            display: none;
        }

        .page-btn {
            background-color: transparent;
            font-size: 11px;
            border: none;
            outline: none;
        }

        .active {
            background-color: #c5e1a5;
            color: white;
            border-radius: 3px;
            pointer-events: none;
        }
    </style>
</head>
<body>
<div class="w-100 d-flex justify-content-center align-items-center text-black" style="height: 100px; background-color: #c5e1a5;">
    <h2 class="mx-3 my-0" style="font-weight: bold;">ZZANDI</h2>
</div>

<div class="container w-75 mx-auto mt-5">
    <input type="hidden" class="board-id" th:value="${boardDetail.boardId}"> <!-- 현재 게시글 번호 -->
    <input type="hidden" class="user-uuid" th:value="${userUUID}"> <!-- 현재 로그인 한 유저 식별자 -->

    <div class="test"></div>

    <div class="d-flex justify-content-between align-self-baseline">
        <h3 class="title" th:text="${boardDetail.title}">제목1</h3>
        <p th:text="${boardDetail.createdDate}">날짜</p>
    </div>

    <div class="d-flex border-bottom justify-content-between">
        <div class="d-flex align-items-center" sec:authorize="isAuthenticated()">
            <img th:if="${!#strings.isEmpty(boardDetail.profile)}" th:src="${boardDetail.profile}" alt="profile" width="30" height="30" class="rounded border bg-light" />
            <p class="align-self-center" th:text="${boardDetail.writer}" style="margin-left: 5px; margin-bottom: 0; font-size: 14px;">작성자</p>
        </div>
        <div class="d-flex justify-content-evenly mb-0 align-items-center">
            <p class="mx-1"><span th:text="|조회수 ${boardDetail.views}|" style="font-size: 14px; font-weight: bold;"></span></p>
            <p class="mx-1"><span th:text="|좋아요 ${boardDetail.heart}|" style="font-size: 14px; font-weight: bold;"></span></p>
            <p class="comment-count mx-1"></p>
        </div>
    </div>

    <section class="mt-4" th:utext="${boardDetail.content}"></section>

    <div class="d-flex justify-content-between" style="margin-top: 30px;">
        <button class="btn btn-secondary btn-sm invisible" th:if="${boardDetail.prev == null}">이전글</button>
        <button class="btn btn-secondary btn-sm" th:if="${boardDetail.prev != null}" th:onclick="|location.href='@{/{studyId}/board/detail/{boardId}/{page} (studyId=${studyId}, boardId=${boardDetail.prev}, page=${boardDetail.page})}'|">이전글</button>
        <button class="btn btn-secondary btn-sm w-50" type="button" th:onclick="|location.href='@{/{studyId}/board/list?page={page} (studyId=${studyId}, page=${boardDetail.page})}'|">목록으로</button>
        <button class="btn btn-secondary btn-sm" th:if="${boardDetail.next != null}" th:onclick="|location.href='@{/{studyId}/board/detail/{boardId}/{page} (studyId=${studyId}, boardId=${boardDetail.next}, page=${boardDetail.page})}'|">다음글</button>
        <button class="btn btn-secondary btn-sm invisible" th:if="${boardDetail.next == null}">다음글</button>
    </div>
    <div class="mt-2 pt-2 d-flex justify-content-end border-top">
        <form name="form" th:action="@{/{studyId}/board/delete/{boardId} (studyId=${studyId}, boardId=${boardDetail.boardId})}" th:onsubmit="return false" method="post">
            <button class="btn btn-light btn-sm" th:if="${userUUID == boardDetail.userUUID}" type="button" th:onclick="|location.href='@{/{studyId}/board/update/{boardId}/{page} (studyId=${studyId}, boardId=${boardDetail.boardId}, page=${boardDetail.page})}'|">수정</button>
            <button class="btn btn-light btn-sm" th:if="${userUUID == boardDetail.userUUID}" type="submit" th:onclick="deleteBoard()">삭제</button>
        </form>
    </div>

    <div class="comment w-100 mt-4">
        <div class="comment-count mb-2 border rounded-1 p-3"></div>
        <ul class="comment-list p-0"></ul>

        <nav class="d-flex justify-content-center">
            <ul class="pagination mt-2"></ul>
        </nav>

        <div class="comment-form">
            <span style="font-size: 14px;">댓글 쓰기</span>
            <div class="d-flex justify-content-between">
                <textarea id="content" name="content" class="form-control" placeholder="따듯한 댓글 부탁드립니다." style="height: 70px; font-size: 12px;"></textarea>
                <button class="btn btn-secondary btn-sm" th:onclick="create()" style="font-size: 12px; width: 100px; margin-left: 5px;">등록</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>