<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/585d621f74.js" crossorigin="anonymous"></script>

    <div th:replace="layout/head.html :: head"></div>
    <link rel="stylesheet" th:href="@{/css/board/board-list.css}">
    <script defer type="text/javascript" th:src="@{/js/board/boardList.js}"></script>
</head>
<body>
<section th:replace="layout/header.html :: header"></section>

<input type="hidden" class="page" th:value="${page}"> <!-- 현재 페이지 번호 -->
<input type="hidden" class="study-id" th:value="${studyId}"> <!-- 현재 스터디 번호 -->
<input type="hidden" class="category" th:value="${category}">

<div class="container w-75 mx-auto bg-#f5f5f5" style="margin-top: 120px; padding-bottom: 300px;">
    <div class="study-main-btn mb-2">
        <button class="w-btn w-btn-green li-category" type="button" th:onclick="|location.href='@{/study/detail/{studyId} (studyId = ${studyId})}'|">스터디 메인으로</button>
    </div>
    <div class="mb-2 d-flex flex-column border rounded p-2">
        <div>
            <a class="study-title" th:text="${studyTitle}" th:href="@{/{studyId}/board/list (studyId = ${studyId}, page = 0)}"></a>
        </div>
        <div class="menu d-flex justify-content-start mt-2">
            <ul class="categories d-flex mb-0 px-0">
                <li><button class="w-btn w-btn-blue li-category" type="button">전체</button></li>
                <li><button class="w-btn w-btn-red li-category" type="button">공지</button></li>
                <li><button class="w-btn w-btn-green li-category" type="button">질문</button></li>
                <li><button class="w-btn w-btn-yellow li-category" type="button">정보</button></li>
                <li><button class="w-btn w-btn-brown li-category" type="button">자유</button></li>
                <li><button class="w-btn w-btn-pink li-category" type="button">자랑</button></li>
            </ul>
        </div>
    </div>

    <table class="table board-table text-center">
        <thead>
        <tr>
            <th class="text-center board-table-th-category">분류</th>
            <th class="text-center board-table-th-title">제목</th>
            <th class="text-center board-table-th-writer">글쓴이</th>
            <th class="text-center">날짜</th>
            <th class="text-center">조회</th>
        </tr>
        </thead>
        <tbody class="list"></tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div class="w-50 d-flex">
            <div>
                <label for="filter">
                    <select name="filter" class="form-select" id="filter">
                        <option value="title-content" selected>제목+내용</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="comment">댓글</option>
                        <option value="writer">글쓴이</option>
                    </select>
                </label>
            </div>
            <div class="d-flex">
                <input type="text" id="keyword" class="form-control" style="width: 150px; margin: 0 5px;">
                <button class="w-btn-zzandi search-btn">검색</button>
            </div>
        </div>

        <button type="button" th:onclick="|location.href='@{/{studyId}/board/create (studyId=${studyId})}'|" class="w-btn-zzandi">글 쓰기</button>
    </div>

    <nav class="text-center pb-3">
        <ul class="pagination d-flex justify-content-center"></ul>
    </nav>
</div>
<div th:replace="layout/footer.html :: footer"></div>
<div th:replace="layout/tail.html :: tail"></div>
</body>
</html>